/* Include Foundation */
@import '../../../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

.hidden {
    display: none;
}